<% if @messages %>
    <div class="row" id="message_container">
        <% @messages.each do |message| %>
            <% if message.user_id == current_user.id %>
                <div class="col-xs-offset-8 col-sx-4">
                    <div id="user message-<%= message.id %>">
                            <p><%= message.content %></p>
                            <p><%= message.created_at %></p>
                    </div>
                </div>
            <% else %>
                <div class="col-xs-4">
                    <div id="other_user message-<%= message.id %>">
                            <p><%= message.content %></p>
                            <p><%= message.created_at %></p>
                    </div>
                </div>
                <div class="col-xs-offset-8"></div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <p>トークを開始しましょう</p>
<% end %>






