<% if logged_in? %>
    <% if @users.any? %>
        <div class="container">
            <div class="your_friends">
                <p>FRIEND</p>
            </div>
            <div class="display_friends">
                <% @users.each do |user| %>
                    <ul class="friend_data" id="friend<%= search_relationship_id(@user, user)%>">
                        <li class="user_name"><%= user.name %></li>
                        <li class="user_id"><%= "@#{user.search_id}"%></li>
                        <li class="talk"><%= render 'shared/createTalk', user:user %></li>
                        <li class="delete_user">
                            <%= link_to '削除', relationship_path(user.id),
                                method: :delete, data: {confirm: 'フレンドから削除してもよろしいですか？'}, remote: true %>
                        </li>
                    </ul>
                <% end %>
            </div>
         </div>
    <% else %>
        <div class="container">
            <div class="no-friend">
                    <p>友達を追加しましょう</p>
            </div>
        </div>
    <% end %>
<% end %>