<div class="margin-top-1">
    <div class="container">
        <div class="search_user text-right">
            <%= form_tag(users_path,:method => 'get') do %>
                <%= text_field_tag :search, '', class:'form-control', placeholder:'search user' %>
                <%= submit_tag "search", :name => nil, class:'btn btn-primary form-control' %>
            <% end %>
        </div>

        <% if @search_user %>
            <div class="container user-container">
                <% if @user.my_friend?(@search_user) %>
                    <% flash.now[:danger] = "このユーザーは登録済みです"%>
                <% else %>
                    <table class="table table-dark">
                        <p>検索結果：</p>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User name</th>
                                <th scope="col">User ID</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <th scope="row"><%= "・" %></th>
                                    <td><%= @search_user.name%></td>
                                    <td><%= @search_user.search_id%></td>
                                    <td><%= render 'shared/add' %></td>
                                </tr>
                        </tbody>
                    </table>
                <% end %>
            </div>
        <% end %>
    </div>
</div>