<div class="margin-top-1">
    <div class="container">
        <div class="search_user text-center">
            <%= form_tag(users_path,:method => 'get') do %>
                <%= text_field_tag :search, '', class:'search_user_form', placeholder:'search user' %>
                <%= submit_tag "検索", :name => nil, class:'search_user_btn' %>
            <% end %>
        </div>

        <% if @search_user %>
            <div class="container user-container">
                <% if @user.my_friend?(@search_user) %>
                    <% flash.now[:danger] = "このユーザーは登録済みです"%>
                <% elsif @search_user.id == current_user.id %>
                    <% flash.now[:danger] = 'エラーが発生しました' %>
                <% else %>
                <p>検索結果：</p>
                    <div class="display_friends">
                        <ul class="friend_data">
                            <li class="user_name"><%= @search_user.name %></li>
                            <li class="user_id"><%= "@#{@search_user.search_id}"%></li>
                            <li><%= render 'shared/add' %></li>
                         </ul>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>