<% if @user %>
    <div class="margin-top-3">
        <div class="container">
        <div class="row">
            <% if @rooms %>
                <div class="col-sm">
                    <table class="table table-striped">
                        <tbody>
                            <% if @rooms.exists? %>
                                <% @rooms.each do |room| %>
                                    <% other_user = User.find_by(id: room.other_user_id) %>
                                    <!-- もしユーザーが存在しなかった場合roomを削除する -->
                                    <% if other_user.nil? %>
                                        <% room.destroy %>
                                    <% else %>
                                    <!-- 存在した場合roomを表示する -->
                                        <tr id="room<%= room.id %>">    
                                            <td><%= other_user.name %></td>
                                            <td><%= get_newest_message(room) %></td>
                                            <td><%= room.created_at %></td>
                                            <td><%= link_to 'talk', room_path(room.id), class:"btn btn-primary talk_button" %></td>
                                            <td><%= link_to 'delete', room_path(room.id), method: :delete, id:'room_delete', 
                                                    class:'btn btn-danger', data: { confirm: 'ルームを削除してもよろしいですか？'}, remote: true %>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
                <div class="text-center">
                    <p>ルームを追加してトークを開始しましょう</p>
                </div>
            <% end %>
        </div>
    </div>
    </div>
<% else %>
    <% redirect_to login_url %>
<% end %>
