<div class="talk_room">
    
    <div class='other_user_name'>
        <%= @other_user.name %>
    </div>

    <div id='room' class="messages" data-room_id='<%= @room.id %>' data-current_user='<%= current_user.id%>' data-other_user='<%= @other_user.id %>'>
        <div id="chat_window">
            <%= render 'messages/message' %>
        </div>
    </div>

    <div class="text_message_area">
        <%= render 'form' %>
    </div>

</div>
