<div class="container timeline">
    <div class="timeline_logo">
        Timeline
    </div>

    <div class="post_timeline_area">
        <%= render 'form' %>
    </div>

    <div class="display_timeline">
        <% if @timelines %>
            <% @timelines.each do |timeline| %>
                <div class="timeline_container" id="timeline<%= timeline.id %>">
                    <p><%= find_user(timeline.user_id).name %></p>
                    <p><%= timeline.content %></p>
                    <p><%= timeline.created_at.strftime('%Y/%m/%d %H:%M') %>
                        <span style='margin-left: 10px;'><%= link_to '削除', timeline_path(timeline.id), method: :delete, 
                           data: { confirm: 'タイムラインを削除してもよろしいですか?' }, remote: true %></span>
                    </p>
                </div>
            <% end %>
        <% else %>
                <p>投稿がありません</p>
        <% end %>
    </div>
</div>